<nav area-label = "breadcrumb">
    <ol class="breadcrumb">
      <li class = "breadcrumb-item"><a href="/">Home</a>
        <li class = "breadcrumb-item active" aria-current="page">Contact us
    </ol>
</nav>

<div class="row">
    <div class ="col-12 col-md-8 ">
        <div class = "row" >
            <div class = "col-12 ">
                <h5>Name : Rajni Kant</h5>
            </div>
            <div class = "col-12  mb-4" >
                <i class="bi bi-tag" > Owner</i>
            </div>
            <div class = "col-12"  >
               <h5>About</h5>
               <p>I have the experience of dry fruits market from more than 20 years. In this time I handled plenty of  
                   clients.
               </p>
            </div>
        </div>

        <div  class = "row">
            <div class = "col-12">
                <h5>Contact Details</h5>
                <ul class = "list group list-group-flush">
                        <li class = "list-group-item">Contact number: 8953778988</li> 
                        <li class = "list-group-item">Email: vittletraders@gmail.com</li> 
                        
                </ul>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class ="col-12 col-md-8 ">
        <div class = "row" >
            <div class = "col-12 ">
                <h5>Name : Ashwani Kumar</h5>
            </div>
            <div class = "col-12  mb-4" >
                <i class="bi bi-tag" > Technical Advisor</i>
            </div>
            <div class = "col-12"  >
               <h5>About</h5>
               <p>I am the co-owner of the shop and I have been handling all the online market from a very long time.
               </p>
            </div>
        </div>

        <div  class = "row">
            <div class = "col-12">
                <h5>Contact Details</h5>
                <ul class = "list group list-group-flush">
                        <li class = "list-group-item">Contact number: 8707871795</li> 
                        <li class = "list-group-item">Email: ashwanikumar1668@gmail.com</li> 
                        
                </ul>
            </div>
        </div>
    </div>

</div>
